body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  alignment: center;
}

.event, .rule{
  margin: 20px auto;
  max-width: 700px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  position: relative;

}

.Connection{
  display: inline-block;
  position: relative;
  margin: 0 5px 0 0;
}
.Connection label {
  margin-right: 5px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],[type="number"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

select {
    border: 1px solid #ccc;
    box-sizing: revert;
    border-radius: 4px;
    font-size: 16px;
  }


button {
  background-color: rgba(128, 128, 128, 0.85);
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 20px;
}

button:hover {
  background-color: #8D8A8A;
}

.result {
  background-color: #5d7b8d;
  padding: 4px 15px;
  border-top-right-radius: 16px;
}
.warning {
  padding: 4px 15px;
  border-top-right-radius: 16px;
 }

.result:hover{
  background-color: rgba(93, 123, 141, 0.91);
}

.buttonTogether {
  display: flex;
  justify-content: flex-start; /* 按钮靠左对齐 */
  gap: 0; /* 间距为0，按钮紧挨在一起 */
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
}

h1 {
  font-size: 24px;
  margin-top: 0;
}
/*warning.html*/
.container {

  display: flex;
  justify-content: space-between;
  height: 100vh;

}

/* separate subscription and rule input */
.background{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.left {
  width: 35%;
  margin: 36px 10px;

}
.right {
  width: 65%;
  padding-right: 10px;
}
.field {
  padding-right: 10px; /* Adjust the spacing as needed */
}

.priority-button {
  background-color: transparent;
  color: red;
  border: none;
  padding: 1px 5px;
}
.priority-button:hover{
  background-color: transparent;
}
.show-more-button {
  background-color: transparent;
  color: darkblue;
  border: none;
  padding: 1px 5px;
  font-style: italic ;

}

.show-less-button {
  background-color: transparent;
  color: darkblue;
  border: none;
  padding: 1px 5px;
  font-style: italic ;
}

.show-less-button:hover{
  background-color: transparent;
 }
.show-more-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 10px;
}
.show-more-button:hover{
  background-color: transparent;
}
.warning-row {
  align-items: center;
}

.warning-data {
  text-align: left;
  vertical-align: top;
  padding-top: 10px;
}
table {
  border-collapse: separate;
  border-spacing: 20px;
}
.show-warnings{
  background-color: #147027E0;
}

.show-warnings:hover{
  background-color: #4CAF50;
}
/*selector*/
.dropbtn {
  background-color: rgba(128, 128, 128, 0.85);
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropbtn {
  background-color: darkgrey;
}

/* table formatting */

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;

}

tr:hover {
  background-color: lightgrey;
}

.uppercase {
  text-transform: uppercase;
}

